doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      title Document
      link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
   body
      .container-fluid
      nav.navbar.navbar-expand-lg.py-3.navbar-dark.bg-dark.fixed-top.shadow-sm
         a.navbar-brand(href="#")
         img.d-inline-block.align-middle.mr-2(src="https://res.cloudinary.com/mhmd/image/upload/v1557368579/logo_iqjuay.png" width="45" alt="")
         span.text-uppercase.font-weight-bold Boda Banja
         #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.ml-auto
               li.nav-item.active
                  a.nav-link(href="#")
                     | Customers 
                  span.sr-only (current)
               li.nav-item
                  a.nav-link(href="#")  Registration
               li.nav-item
                  a.nav-link(href="#") Sales Tools
         form.form-inline
            input.form-control.mr-sm-2(type="search" placeholder="Search" aria-label="Search")
            button.btn.btn-outline-success.my-2.my-sm-0(type="submit") Search
   // table
   .container-fluid
      h1(style="margin-top:100px") Registered Patients list
      table.table.table-hover
         thead.thead-dark
            tr
               th(scope="col") #
               th(scope="col") Surname
               th(scope="col") Given name
               th(scope="col") D.O.B
               th(scope="col") Residence
               th(scope="col") Occupation
               th(scope="col") Nationality
               th(scope="col") Gender
               th(scope="col") Category
         tbody
            each patient in allpatients
               tr
                  th(scope="row") 1
                  td #{customer.surname}
                  td #{customer.givenName}
                  td #{customer.dob}
                  td #{customer.residence}
                  td #{customer.occupation}
                  td #{customer.nationality}
                  td #{customer.gender}
                  td #{customer.category}
      // footer starts here
      #footer
         hr
         |          © Copyright 2020, by Gerald Ssali for Ministry of Health and Government of Uganda
         p